<app-navbar></app-navbar>
<mat-divider></mat-divider>
<ngx-loading [show]="ngxloading"></ngx-loading>
<div *ngIf="isSelect == 1">
  <form [formGroup]="uploadForm"  (ngSubmit)="uploadcsv()">
  <mat-card>
    <mat-card-title>Upload Your File</mat-card-title>
    <mat-card-subtitle>You need to only upload .csv file</mat-card-subtitle>
    <mat-card-content>
      <img src="assets/lib/image/upload.png" class="uploadimage" style="cursor:pointer;" (click)="csvfile.click()">
      <br>
      OR
      <br>
      <!-- <mat-form-field class="example-full-width"> -->
        <input type="file" accept=".csv" id="ufile" name="ufile" (change)="fileChangeListener($event)" #csvfile>
      <!-- </mat-form-field> -->
      <br>
      <mat-form-field class="example-full-width" style="margin-top:4%">
        <input matInput placeholder="Your address" value="" [(ngModel)]="address" formControlName="address">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="uploadbtn" mat-raised-button>
          Upload&nbsp;&nbsp;<mat-icon>cloud</mat-icon> 
      </button> 
    </mat-card-actions>
  </mat-card>
  </form>
</div>
<div *ngIf="isSelect == 2">
    <mat-card>
        <mat-card-title>Transfer Tokens To Single Address</mat-card-title>
        <mat-card-subtitle>Below address field are required to send CAS tokens</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="To address" value="" [(ngModel)]="singleaddress" #singleaddr>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="From address" value="" [(ngModel)]="singlefromaddress" #singlefrmaddr>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CAS Tokens" value="" [(ngModel)]="singletokens" #singletkns>
          </mat-form-field>
          <div class="singleformdiv">
              <button class="uploadbtn" mat-raised-button (click)="singlenext()">
                  Next&nbsp;&nbsp;<mat-icon>cloud</mat-icon> 
              </button>
          </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="footerbtns">
  <button class="uploadbtn" mat-raised-button (click)="panelbtn(1)">
      Multiple&nbsp;&nbsp;<mat-icon>group</mat-icon> 
  </button> 
  <button class="uploadbtn" mat-raised-button (click)="panelbtn(2)">
      Single&nbsp;&nbsp;<mat-icon>person</mat-icon> 
  </button> 
</div>