.nodataContent {
    text-align: center;
}
.csvbtn{
    /* background-color: #007f7f;
    color: #fff; */
    cursor: pointer;
}

.jsonbtn {
    /* background-color: #794044;
    color: #fff; */
    cursor: pointer;
}
table {
    width: 100%;
}

table tr td {
    text-align: center;
}