/* mat-dialog-actions div div.hortbtns {
    bottom: 0;
    width: 100%;
    float: right;
    text-align: end;
} */

.table-responsive.divtable {
    width: 100%;
    display: block;
}

.table-responsive.divtable table tbody tr th {
    text-align: start;
}

.table-responsive.divtable table tbody tr td {
    text-align: end;
}

mat-dialog-actions .hortbtns {
    float: right;
    right: 0;
    width: 100%;
    text-align: end;
}

@media screen and (min-width:768px){
    mat-card-content.modelcontent.mat-card-content {
        padding: 20px;
    }
}

h2.mat-dialog-title {
    text-align: center;
}

mat-dialog-actions.mat-dialog-actions {
    display: block;
}

button.nextbtn.mat-button {
    background-color: #3f51b5;
    color: #fff;
}

button.submitbtn.mat-button {
    background-color: #4ac395;
    color: #fff;
}

mat-dialog-content.mat-dialog-content {
    text-align: center;
}

mat-form-field.example-full-width {
    width: 100%;
}

.formdiv {
    margin: 8%;
}

.mat-chip-list-wrapper {
    display: block;
}
mat-chip-list.mat-chip-list {
    display: block;
    float: right;
    right: 0;
}
img.img {
    width: 30%;
}

img.img2 {
    width: 30%;
}

button.errorbtn, button.errorbtn.mat-button[disabled][disabled] {
    background-color: #ff6666;
    color: #fff;
}
.errmsg {
    color: #ff6666;
    margin-bottom: 4%;
}

.failureimg {
    font-size: 15px;
    font-family: sans-serif;
    word-break: break-all;
}

.downloadbtns {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.csvbtn{
    /* background-color: #007f7f;
    color: #fff; */
    cursor: pointer;
}

.jsonbtn {
    /* background-color: #794044;
    color: #fff; */
    cursor: pointer;
}