<h2 mat-dialog-title>CAS Tokens Distribution</h2>
<ngx-loading [show]="ngxloading"></ngx-loading>
<mat-dialog-content>
  
  
  <div *ngIf="initialView == 0" class="maindiv">
    <mat-card class="modelcard">
        <mat-card-content class="modelcontent">
          <div class="table-responsive divtable">
            <table>
              <tr>
                <th>Transaction Address:</th>
                <td>{{toaddress}}</td>
              </tr>
              <tr>
                <th>CAS Tokens:</th>
                <td>{{tokenstosend}}</td>
              </tr>
              <tr>
                <th>Fee:</th>
                <td>{{SISFeeCalc.individual}} Ether</td>
              </tr>
              <tr>
                <th>CAS in from:</th>
                <td>{{SISFeeCalc.cas}}</td>
              </tr>
              <tr>
                <th>ETH is from:</th>
                <td>{{SISFeeCalc.eth}} Ether</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
    </mat-card>
    
  </div>


  <div *ngIf="initialView == 1" class="formdiv">
    <!-- <form class="example-form"> -->
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="From address" value="" [(ngModel)]="fromaddress">
      </mat-form-field> -->
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Private key" value="" [(ngModel)]="privatekey">
      </mat-form-field>
    <!-- </form> -->
  </div>

  <div *ngIf="initialView == 2" class="formdiv">
      <div class="successimg" *ngIf="isSuccessinitialView == true">
          <img src="assets/lib/image/yes.png" class="img"><br>
          <!-- {{successmessage}} -->
          <p [innerHTML]="successmessage"></p>
      </div>
      <div class="failureimg" *ngIf="isSuccessinitialView == false">
          <img src="assets/lib/image/virus.png" class="img"><br>
        <!-- {{successmessage}} -->
        <p [innerHTML]="successmessage"></p>        
      </div>
      <div class="downloadbtns">
          <!-- <button mat-button class="csvbtn" (click)="download('csv')">CSV&nbsp;&nbsp;<mat-icon>download</mat-icon> </button>
          <button mat-button class="jsonbtn" (click)="download('json')">JSON&nbsp;&nbsp;<mat-icon>download</mat-icon> </button> -->
          <img src="assets/lib/image/csv.png" class="csvbtn" (click)="download('csv')">
          <img src="assets/lib/image/json-file.png" class="jsonbtn" (click)="download('json')">
      </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  
    <div *ngIf="initialView == 0">
        <div class="hortbtns">
          <div class="errmsg">{{errormessage}}</div>
          <button mat-button class="cancelbtn" mat-dialog-close>Cancel</button>
          <!-- <button mat-button [mat-dialog-close]="true">Next</button> -->
          <button mat-button class="nextbtn" *ngIf="disablebtnfor == ''" (click)="next(1)">Next</button>
          <button mat-button class="errorbtn" disabled *ngIf="disablebtnfor == 'lesstoken'" (click)="showmsg('lesstoken')">Next</button>
          <button mat-button class="errorbtn" disabled *ngIf="disablebtnfor == 'lesseth'" (click)="showmsg('lesseth')">Next</button>
          
        </div>
    </div>
    <div *ngIf="initialView == 1">
        <div class="hortbtns">
          <button mat-button class="cancelbtn" mat-dialog-close>Cancel</button>
          <button mat-button class="submitbtn" (click)="callsubmit()">Submit</button>
        </div>
    </div>
    <div *ngIf="initialView == 2">
        <div class="hortbtns" style="text-align:center">
          <!-- <button mat-button class="cancelbtn" mat-dialog-close>Cancel</button> -->
          <button mat-button class="nextbtn" [mat-dialog-close]="true">OK</button>
        </div>
    </div>
 
</mat-dialog-actions>