<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <span>CAS Tokens Client</span>

    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon> Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="upload()">Upload CSV</button>
      <button mat-menu-item (click)="csvdetail()">Recent CSV</button>
      <button mat-menu-item (click)="history()">History</button>
      <button mat-menu-item (click)="settings()">Settings</button>
    </mat-menu>

 
  </mat-toolbar-row>
  
</mat-toolbar>