<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Ethereum client</span>
  </mat-toolbar-row>
</mat-toolbar>

<button mat-button (click)="makeAddress()">Make Address</button>
<button mat-button (click)="fetchContract()">Fetch Compile Contract</button>



















<!-- <button mat-button (click)="deployContract()">Deploy Contract</button> -->



<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
   <mat-icon></mat-icon>  Click Here
</button>

<p>
  home works! ok
</p>
<button mat-button (click)="clearStorage()">Clear Storage</button>



<button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button> -->