.table-responsive {
    width: 100%;
    overflow-y: overlay;
}
a:-webkit-any-link {
    color: darkblue;
    text-decoration: none;
    word-break: break-all;
}
table tr td {
    padding-top: 10px;
}

button.matbtn {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    margin: 2%;
}