<app-navbar></app-navbar>
<mat-divider></mat-divider>
<ngx-loading [show]="ngxloading"></ngx-loading>
<mat-card class="panelcard">
  <mat-card-content>
    <div class="tablecontent">
      <table>
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Transaction Type</th>
            <th>Time</th>
            <th>Action</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>