<app-navbar></app-navbar>
<mat-divider></mat-divider>
<ngx-loading [show]="ngxloading"></ngx-loading>
<mat-card class="panelcard">
  <mat-card-content>
    <div class="tablecontent">

      <form [formGroup]="uploadForm" class="example-form tcontract">
        <mat-form-field class="example-full-width">
          <input matInput class="contractwna" placeholder="Web3 Network URL" [(ngModel)]="web3URL" formControlName="web3URL">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input matInput class="contractta" placeholder="Transaction Address URL" [(ngModel)]="addressURL" formControlName="addressURL">
        </mat-form-field>
 
        <mat-form-field class="example-full-width">
          <input matInput class="contractha" placeholder="Transaction Hash URL" [(ngModel)]="hashURL" formControlName="hashURL">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input matInput class="contractaddr" placeholder="Contract Address" [(ngModel)]="contractAddress" formControlName="contractAddress">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput class="contractabi" placeholder="Contract ABI" rows=8 [(ngModel)]="contractABI" formControlName="contractABI"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput class="contractcode" placeholder="Contract Bytecode" rows=8 [(ngModel)]="contractCode" formControlName="contractCode"></textarea>
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width"> -->
          <button class="submitbtn" mat-raised-button (click)="submit()">
              Update&nbsp;&nbsp;<mat-icon>save</mat-icon> 
          </button> 
        <!-- </mat-form-field> -->
      </form>
    </div>
  </mat-card-content>
</mat-card>