<app-navbar></app-navbar>
<mat-divider></mat-divider>
<ngx-loading [show]="ngxloading"></ngx-loading>
<mat-card class="panelcard">
  <mat-card-content>
    <div class="tablecontent">

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>